.footer {
  padding-top: 20px;
  padding-bottom: 20px;

  &__footnote {
    color: $color-main;
    @include style-text-large;
    border-left: 5px solid $color-main;
    padding-left: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__paragrahp {
    cursor: default;
    transition: padding 0.2s ease;

    & + & {
      margin-top: 10px;
    }

    &:hover {
      // padding-left: 5px;
    }
  }
}
