// Base
$w: 1190;
$bg: #fff;
$img: '../img';

// Colors
$color-white: #fff;
$color-black: #000;

$color-main: #4488bb;
$color-main-darken: #2e5d80;
$color-important: #bb4444;
$color-muted: #aaa;
$color-section: #eee;
$color-overlay: #333;

// Colors-text
$color-text: #333;
$color-link: $color-main;
$color-link-hover: $color-important;

// Fonts options
$font: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$font-base: 62.5%;
$font-size: 16px;
$line-height: 1.5;

$btn-line-heigh: 1.25;
$form-line-height: 1.25;

// Z-index
$z-modal: 999;

// Media
$media-2k: 1200px;
$media-desktop: 1024px;
$media-laptop: 960px;
$media-netbook: 820px;
$media-tablet: 740px;
$media-mobile: 420px;
